<div class='container'>
  <h1>Selected Workouts</h1>
  <table class="selected_log log">
    <thead>
      <td>Date</td>
      <td>Run</td>
      <td>Swim</td>
      <td>Bike</td>
      <td>Description</td>
    </thead>
  <% @workouts_selected.each do |workout| %>
    <tr id="<%= workout.id %>">
      <td><%= workout.date %></td>
      <td><%= workout.run %></td>
      <td><%= workout.swim %></td>
      <td><%= workout.bike %></td>
      <td class="description"><%= workout.description %></td>
      <td class="edit-row"><form class="edit-button" action="/workouts/<%= workout.id%>/edit"><input type="submit" value="Edit"></form></td>
    </tr>
  <% end %>
  </table>
</div>
