<form method="POST" action = "/">
  <label for="month">Month</label>
  <select name="month">
    <% (1..12).to_a.each do |month| %>
      <option value="<%= month %>"><%= month %></option>
    <% end %>
  </select>
  <label for="day">Day</label>
  <select name="day">
    <% (1..31).to_a.each do |day| %>
      <option value="<%= day %>"><%= day %></option>
    <% end %>
  </select>
  <label for="year">Year</label>
  <select name="year">
    <% (Date.today.year..Date.today.year-5).to_a.each do |year| %>
      <option value="<%= year %>"><%= year %></option>
    <% end %>
  </select>
  <label for="swim">Swim</label>
</form>
