<div class="container">
  <p>Editing the workout you did on <%= @workout.month %>/<%= @workout.day %>/<%= @workout.year %>.</p>
  <form method="POST" action="/workouts/<%= @workout.id %>">
    <label>Date: </label>
    <label for="month">Month</label>
    <select name="month">
      <% (1..12).to_a.each do |month| %>
        <option value="<%= month %>"><%= month %></option>
      <% end %>
    </select>
    <label for="day">Day</label>
    <select name="day">
      <% (1..31).to_a.each do |day| %>
        <option value="<%= day %>"><%= day %></option>
      <% end %>
    </select>
    <label for="year">Year</label>
    <select name="year">
      <% (Date.today.year-5..Date.today.year).to_a.each do |year| %>
        <option value="<%= year %>"><%= year %></option>
      <% end %>
    </select>
    <input type="hidden" name="id" value=<%= @workout.id %>>
    <label for="swim">Swim (meters): </label>
    <input name="swim" type="integer" value=<%= @workout.swim %>>
    <label for="bike">Bike (miles): </label>
    <input name="bike" type="float" value=<%= @workout.bike %>>
    <br>
    <label for="run">Run (miles): </label>
    <input name="run" type="float" value=<%= @workout.run %>>
    <br>
    <label for="description" >Describe your workout:</label>
    <br>
    <input class="txtbox" name="description" type="text" value = "<%= @workout.description %>">
    <br>
    <span id="add_more_form">
      <label for="intensity">Intensity of Workout</label>
      <select name="intensity" value="<%= @workout.intensity %>">
        <option value=""></option>
        <option value="recovery">Recovery</option>
        <option value="interval">Interval</option>
        <option value="tempo">Tempo</option>
        <option value="fartlik">Fartlik</option>
        <option value="race">Race</option>
        <option value="other">Other</option>
      </select>
      <br>
      <label for="hours_sleep">Hours Sleep</label>
      <input type="number" name="hours_sleep" value=<%= @workout.hours_sleep %>>
      <br>
      <label for="duration">Duration</label>
      <!-- RIGHT NOW YOU CAN'T LOG AN IRONMAN OVER 12 HOURS! -->
      <input class='int' type="integer" name="duration_hours" value=<%= @workout.duration_hours %>>:
      <input class='int' type="integer" name="duration_minutes" value=<%= @workout.duration_minutes %>>:
      <input class='int' type="integer" name="duration_seconds" value=<%= @workout.duration_seconds %>>
    </span>
    <input type="submit" value="Edit Workout">

  </form>

  <form method="get" action="/workouts/<%= current_workout.id %>/delete">
    <input type="submit" value="Delete Workout">
  </form>
</div>
