<div class="container">
  <p>Editing the workout you did on <%= @workout.date %>.</p>
  <form method="POST" action="/workouts/<%= @workout.id %>">
    <label for="date">Date: </label>
        <label for="month">Month</label>
    <select name="month">
      <% (1..12).to_a.each do |month| %>
        <option value="<%= month %>"><%= month %></option>
      <% end %>
    </select>
    <label for="day">Day</label>
    <select name="day">
      <% (1..31).to_a.each do |day| %>
        <option value="<%= day %>"><%= day %></option>
      <% end %>
    </select>
    <label for="year">Year</label>
    <select name="year">
      <% (Date.today.year-5..Date.today.year).to_a.each do |year| %>
        <option value="<%= year %>"><%= year %></option>
      <% end %>
    </select>
    <input type="hidden" name="id" value=<%= @workout.id %>>
    <label for="swim">Swim (meters): </label>
    <input name="swim" type="integer" value=<%= @workout.swim %>>
    <label for="bike">Bike (miles): </label>
    <input name="bike" type="float" value=<%= @workout.bike %>>
    <br>
    <label for="run">Run (miles): </label>
    <input name="run" type="float" value=<%= @workout.run %>>
    <br>
    <label for="description">Describe your workout:</label>
    <br>
    <input name="description" type="text" value = <%= @workout.description %>>
    <br>
    <input type="submit" value="Edit Workout">
  </form>
</div>
