<div class='container'>
<<<<<<< HEAD
  <table id="full_log">
=======
  <a href="/workouts/new">Log a workout</a>
  <table>
>>>>>>> d64045d452f64bc6a52c3dbce355380bd56496cc
    <thead>
      <td>Date</td>
      <td>Run</td>
      <td>Swim</td>
      <td>Bike</td>
      <td>Description</td>
    </thead>
  <% Workout.all.each do |workout| %>
    <tr>
      <td><%= workout.date %></td>
      <td><%= workout.run %></td>
      <td><%= workout.swim %></td>
      <td><%= workout.bike %></td>
      <td class="description"><%= workout.description %></td>
    </tr>
  <% end %>
  </table>
</div>
